<a href="https://colab.research.google.com/github/Alejandro-A-DS/TFM_entrega_2/blob/main/Anexo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anexo 2. Elaboración del Dataset Final
---

Una vez se tienen los 3 dataset iniciales de income, balance y cashflow creados, es necesario realizar preparar los datos que se tienen en los diferentes dataset para poder general el dataset final con el que se va a trabajar en la realización de clusters. Esta etapa cuenta con la siguientes fases:

- Importación de los tres datasets desde `github.com`.
- Visualización y exploración inicial de datos.
- Manipulación y transformación de datos.
- Creación del dataset final.
- Análisis de valores faltantes.

In [ ]:
# Librerías necesarias

import numpy as np
import pandas as pd

## Importación y Visualización de los Datasets Income, Balance y Cashflow
---

Los datasets base empleados en este notebook se encuentran en un repositorio de `github`. Estos han sido almacenados en este repositorio debido a desde este repositorio es posible generar reproducibilidad de este notebook.

In [ ]:
# Ejecutar celda para cargar los dataset de forma remota desde github

url_income = "https://raw.githubusercontent.com/Alejandro-A-DS/Datos_Master/main/df_final_income.csv"
url_balance = "https://raw.githubusercontent.com/Alejandro-A-DS/Datos_Master/main/df_final_balance.csv"
url_cashflow = "https://raw.githubusercontent.com/Alejandro-A-DS/Datos_Master/main/df_final_cashflow.csv"

# Conversión de los archivos csv a DataFrames de Pandas

df_income = pd.read_csv(url_income)
df_balance = pd.read_csv(url_balance)
df_cashflow = pd.read_csv(url_cashflow)

In [ ]:
# Visualización de los cinco primeros registros de Income

df_income.head()

,Unnamed: 0,Net Income,Shares Outstanding (Basic),Dividend Per Share,EBIT,EBITDA,Revenue,Accion
0,2023-01-31,352,296,0.225,435,502,1756,A
1,2022-10-31,368,296,0.21,478,551,1849,A
2,2022-07-31,329,298,0.21,416,496,1718,A
3,2022-04-30,274,299,0.21,354,436,1607,A
4,2022-01-31,283,301,0.21,340,422,1674,A

In [ ]:
# Resumen del dataframe Income

df_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37084 entries, 0 to 37083
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  37084 non-null  object
 1   Net Income                  36830 non-null  object
 2   Shares Outstanding (Basic)  36807 non-null  object
 3   Dividend Per Share          37084 non-null  object
 4   EBIT                        36830 non-null  object
 5   EBITDA                      36707 non-null  object
 6   Revenue                     36833 non-null  object
 7   Accion                      37084 non-null  object
dtypes: object(8)
memory usage: 2.3+ MB

In [ ]:
# Visualización de los cinco primeros registros de Balance

df_balance.head()

,Unnamed: 0,Cash & Cash Equivalents,Total Assets,Total Liabilities,Shareholders' Equity,Total Long-Term Liabilities,Total Current Liabilities,Long-Term Debt,Current Debt,Accion
0,2023-01-31,1250.0,10919.0,5310.0,5609.0,3374.0,1936.0,2733.0,238.0,A
1,2022-10-31,1053.0,10532.0,5227.0,5305.0,3366.0,1861.0,2733.0,36.0,A
2,2022-07-31,1077.0,10484.0,5393.0,5091.0,3491.0,1902.0,2732.0,180.0,A
3,2022-04-30,1207.0,10455.0,5333.0,5122.0,3520.0,1813.0,2730.0,175.0,A
4,2022-01-31,1158.0,10327.0,5173.0,5154.0,3589.0,1584.0,2730.0,0.0,A

In [ ]:
# Resumen del dataframe Balance

df_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36401 entries, 0 to 36400
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   36401 non-null  object
 1   Cash & Cash Equivalents      36401 non-null  float64
 2   Total Assets                 35437 non-null  float64
 3   Total Liabilities            35421 non-null  float64
 4   Shareholders' Equity         35423 non-null  float64
 5   Total Long-Term Liabilities  34774 non-null  float64
 6   Total Current Liabilities    34788 non-null  float64
 7   Long-Term Debt               34798 non-null  float64
 8   Current Debt                 34914 non-null  float64
 9   Accion                       36401 non-null  object
dtypes: float64(8), object(2)
memory usage: 2.8+ MB

In [ ]:
# Visualización de los cinco primeros registros de Cashflow

df_cashflow.head()

   Unnamed: 0  Net Cash Flow  Free Cash Flow  Dividends Paid Accion
0  2023-01-31          197.0           220.0           -67.0      A
1  2022-10-31          -17.0           378.0           -62.0      A
2  2022-07-31         -115.0           244.0           -62.0      A
3  2022-04-30           72.0           219.0           -63.0      A
4  2022-01-31         -374.0           180.0           -63.0      A

In [ ]:
# Resumen del dataframe cashflow

df_cashflow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37579 entries, 0 to 37578
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      37579 non-null  object
 1   Net Cash Flow   37440 non-null  float64
 2   Free Cash Flow  37438 non-null  float64
 3   Dividends Paid  37440 non-null  float64
 4   Accion          37579 non-null  object
dtypes: float64(3), object(2)
memory usage: 1.4+ MB

## Preparación de los Datos
---
Como cualquier proyecto que involucre datos, es necesario realizar un preprocesamiento de los datos porque estos rara vez vienen listos para ser utilizados en modelos. Dado lo anterior, en esta sección se tratarán y describirán los pasos llevados a cabo para preparar los datos.

### Cambio de Nombre de Columnas

Inicialmente se observa que existe una columna llamada `Unnamed: 0` la cual es la columna de las fechas, y esta columna está presente en los tres datasets, por lo que se cambiará su nombre a `Date`.

In [ ]:
# Definición de la columna "date"

df_income.rename(columns = {"Unnamed: 0": "Date"}, inplace=True)
df_balance.rename(columns = {"Unnamed: 0": "Date"}, inplace=True)
df_cashflow.rename(columns = {"Unnamed: 0": "Date"}, inplace=True)

In [ ]:
# Verificación del cambio de nombre de la columna Unnamed: 0 a Date

print(f"Nombre de la primera columna del dataframe income: {df_income.columns[0]}")
print(f"Nombre de la primera columna del dataframe balance: {df_balance.columns[0]}")
print(f"Nombre de la primera columna del dataframe cashflow: {df_cashflow.columns[0]}")

Nombre de la primera columna del dataframe income: Date
Nombre de la primera columna del dataframe balance: Date
Nombre de la primera columna del dataframe cashflow: Date

### Identificación de Registros Anómalos

Posterior al cambio del nombre de la columna de las fechas, se realizará la transformación del `dtype` de esta misma, ya que originalmente esta columna es de tipo `object` como se observa en el resumen de los 3 dataframes. Antes de aplicar cualquier transfromación, se verificará si existen cadenas de texto en estas columnas, esto con el fin de evitar problemas durante la transformación de dtype.

In [ ]:
# Verificación de la existencia de cadenas de caracteres en la columna Date en Income

indices_income = df_income[pd.to_datetime(df_income['Date'], errors="coerce").isna()].index

df_income.loc[indices_income,:]

,Date,Net Income,Shares Outstanding (Basic),Dividend Per Share,EBIT,EBITDA,Revenue,Accion
20262,Accion,MA,MA,MA,MA,MA,MA,MA
20372,Accion,MAA,MAA,MAA,MAA,MAA,MAA,MAA
20588,Accion,MAS,MAS,MAS,MAS,MAS,MAS,MAS
20589,Accion.1,MAS,MAS,MAS,MAS,MAS,MAS,MAS
20700,Accion,MCD,MCD,MCD,MCD,MCD,MCD,MCD
20811,Accion,MCHP,MCHP,MCHP,MCHP,MCHP,MCHP,MCHP
20930,Accion,MCK,MCK,MCK,MCK,MCK,MCK,MCK
21026,Accion,MCO,MCO,MCO,MCO,MCO,MCO,MCO
21120,Accion,MDLZ,MDLZ,MDLZ,MDLZ,MDLZ,MDLZ,MDLZ
21230,Accion,MDT,MDT,MDT,MDT,MDT,MDT,MDT
21438,Accion,MGM,MGM,MGM,MGM,MGM,MGM,MGM
21548,Accion,MKC,MKC,MKC,MKC,MKC,MKC,MKC

In [ ]:
# Verificación de la existencia de cadenas de caracteres en la columna Date en Income

indices_balance = df_balance[pd.to_datetime(df_balance['Date'], errors="coerce").isna()].index

df_balance.loc[indices_balance,:]

Empty DataFrame
Columns: [Date, Cash & Cash Equivalents, Total Assets, Total Liabilities, Shareholders' Equity, Total Long-Term Liabilities, Total Current Liabilities, Long-Term Debt, Current Debt, Accion]
Index: []

In [ ]:
# Verificación de la existencia de cadenas de caracteres en la columna Date en Income

indices_cashflow = df_cashflow[pd.to_datetime(df_cashflow['Date'], errors="coerce").isna()].index

df_cashflow.loc[indices_cashflow,:]

Empty DataFrame
Columns: [Date, Net Cash Flow, Free Cash Flow, Dividends Paid, Accion]
Index: []

Puede observarse que en el dataframe de income existen registros donde no solament la columna `Date` tiene cadenas de caracteres, las demás columnas también. Esto se debe a un error en la ejecución de uno de los códigos que compilaba los archivos individuales de cada una de las empresas en un único archivo. Para solucionar este inconveniente, se eliminarán los registros donde se presenta esta situación en el dataset income. Los dataset de balance y cashflow no presentan esta problemática.

In [ ]:
# Eliminación de los registros problemáticos

df_income.drop(indices_income, inplace=True)

In [ ]:
# Verificación de la existencia de cadenas de caracteres en la columna Date en Income después de la eliminación de los detectados anteriormente

indices_income = df_income[pd.to_datetime(df_income['Date'], errors="coerce").isna()].index

df_income.loc[indices_income,:]

Empty DataFrame
Columns: [Date, Net Income, Shares Outstanding (Basic), Dividend Per Share, EBIT, EBITDA, Revenue, Accion]
Index: []

### Transformación de tipo (`dtype`)

Habiendo eliminado las cadenas de caracteres de la columna Date para el dataset de income, se procede a realizar la transformación de `dtype` para esta columna en los tres dataset. Para esta transformación úncamente se tendrá en cuenta el año, el mes y el día, no se contemplará tener la hora al momento de realizar esta transformación.

In [ ]:
# Cambio de dtype de la columna fecha

df_income['Date'] = pd.to_datetime(df_income['Date']).dt.date
df_balance['Date'] = pd.to_datetime(df_balance['Date']).dt.date
df_cashflow['Date'] = pd.to_datetime(df_cashflow['Date']).dt.date

Es posible que la columna que contiene el símbolo de la acción de cada empresa tenga inconvenientes respecto a minúsculas y mayúsculas. En búsqueda de obtener uniformidad, todas los símbolos de la columna `Accion` se modificarán para que todas los caracteres sean letras mayúsuculas. Esto para los tres datasets.

In [ ]:
# Buscar en las columnas Accion la existencia de caracteres tengas letras minúsculas.

print(df_income['Accion'].apply(lambda x: x.isupper()).sum() == df_income.shape[0])
print(df_balance['Accion'].apply(lambda x: x.isupper()).sum() == df_balance.shape[0])
print(df_cashflow['Accion'].apply(lambda x: x.isupper()).sum() == df_cashflow.shape[0])

False
False
False

In [ ]:
# Cambio de minúsculas a mayúsculas

df_income['Accion'] = df_income['Accion'].apply(lambda x: x.upper())
df_balance['Accion'] = df_balance['Accion'].apply(lambda x: x.upper())
df_cashflow['Accion'] = df_cashflow['Accion'].apply(lambda x: x.upper())

In [ ]:
# Verificación del cambio de la columna Accion a uppercase.

print(df_income['Accion'].apply(lambda x: x.isupper()).sum() == df_income.shape[0])
print(df_balance['Accion'].apply(lambda x: x.isupper()).sum() == df_balance.shape[0])
print(df_cashflow['Accion'].apply(lambda x: x.isupper()).sum() == df_cashflow.shape[0])

True
True
True

Efectivamente todos los símbolos de las acciones se han transformado en caracteres mayúsculos. Esto es de vital importancia para la siguiente fase de la manipulación y transformación de datos.

### Creación de llaves para income, balance y cashflow
---

Para crear un único dataset final a partir de los tres dataset que se están trabajando, es necesario tener una llave única (llave primaria) para cada uno de los registros con la cual se puedan realizar los respectivos joins entre los datasets. La definición de esta llave primaria estará dada por: $Llave = Accion + Año + Mes$.

Para ilustrar un ejemplo de una llave única, se tomará como ejemplo la acción A, en el año 2023 en el mes 3, partiendo de esta información la llave única para este registro particular sería: $A2023-3$.

Si bien al momento de descargar la información esta se solicitó a nivel trimestral, es posible que exista información de otros meses diferentes a los meses de cierre de trimeste (3: marzo, 6: junio, 9: septiembre, 12: diciembre), por lo que de ser así, es necesario realizar una transformación del mes para trabajar todos los registros dentro del mismo trimeste, más exactamente al final del mismo trimeste.

In [ ]:
print(f"Meses únicos en el dataset income: {np.sort(df_income['Date'].apply(lambda x: x.month).unique())}")

Meses únicos en el dataset income: [ 1  2  3  4  5  6  7  8  9 10 11 12]

In [ ]:
print(f"Meses únicos en el dataset balance: {np.sort(df_balance['Date'].apply(lambda x: x.month).unique())}")

Meses únicos en el dataset balance: [ 1  2  3  4  5  6  7  8  9 10 11 12]

In [ ]:
print(f"Meses únicos en el dataset cashflow: {np.sort(df_cashflow['Date'].apply(lambda x: x.month).unique())}")

Meses únicos en el dataset cashflow: [ 1  2  3  4  5  6  7  8  9 10 11 12]

Los tres datasets presentan meses diferentes a los meses de cierre de trimestre, por esto es necesario modificar el mes de estos registros mediante una función definida por el usuario, la cual cambiará el mes del registro al mes de cierre de trimestre correspondiente.

In [ ]:
# Función para corregir el mes (trimestre) en las fechas

def quarter(month):

  if month <= 3:
    return 3
  if month <= 6:
    return 6
  if month <= 9:
    return 9
  if month <= 12:
    return 12

Antes de realizar la transformación de los meses y posterior creació de llaves únicas es posible que se creen llaves únicas repetidas, situación que no debería presentarse dado el nombre 'llaves únicas'. Para evaluar esta posibilidad se crearán dos llaves únicas, la primera no tendrá en cuenta la transformación del mes y la segunda sí tendrá en cuenta esta transformación.

In [ ]:
# Creación de las llaves (sin modificar el mes) para su posterior concatenación

df_income['Key_1'] = df_income['Accion'] + \
                     df_income['Date'].apply(lambda x: x.year).astype(str) + '-' + \
                     df_income['Date'].apply(lambda x: x.month).astype(str)

df_balance['Key_1'] = df_balance['Accion'] + \
                      df_balance['Date'].apply(lambda x: x.year).astype(str) + '-' + \
                      df_balance['Date'].apply(lambda x: x.month).astype(str)

df_cashflow['Key_1'] = df_cashflow['Accion'] + \
                       df_cashflow['Date'].apply(lambda x: x.year).astype(str) + '-' + \
                       df_cashflow['Date'].apply(lambda x: x.month).astype(str)

In [ ]:
# Creación de las llaves (con el mes modificado) para su posterior concatenación

df_income['Key_2'] = df_income['Accion'] + \
                     df_income['Date'].apply(lambda x: x.year).astype(str) + '-' + \
                     df_income['Date'].apply(lambda x: x.month).apply(quarter).astype(str)

df_balance['Key_2'] = df_balance['Accion'] + \
                      df_balance['Date'].apply(lambda x: x.year).astype(str) + '-' + \
                      df_balance['Date'].apply(lambda x: x.month).apply(quarter).astype(str)

df_cashflow['Key_2'] = df_cashflow['Accion'] + \
                       df_cashflow['Date'].apply(lambda x: x.year).astype(str) + '-' + \
                       df_cashflow['Date'].apply(lambda x: x.month).apply(quarter).astype(str)

A continuación solamente se visualizará el primer registro de los tres datasets para ver las dos llaves creadas.

In [ ]:
df_income.head(1)

,Date,Net Income,Shares Outstanding (Basic),Dividend Per Share,EBIT,EBITDA,Revenue,Accion,Key_1,Key_2
0,2023-01-31,352,296,0.225,435,502,1756,A,A2023-1,A2023-3

In [ ]:
df_balance.head(1)

,Date,Cash & Cash Equivalents,Total Assets,Total Liabilities,Shareholders' Equity,Total Long-Term Liabilities,Total Current Liabilities,Long-Term Debt,Current Debt,Accion,Key_1,Key_2
0,2023-01-31,1250.0,10919.0,5310.0,5609.0,3374.0,1936.0,2733.0,238.0,A,A2023-1,A2023-3

In [ ]:
df_cashflow.head(1)

,Date,Net Cash Flow,Free Cash Flow,Dividends Paid,Accion,Key_1,Key_2
0,2023-01-31,197.0,220.0,-67.0,A,A2023-1,A2023-3

### Manejo de Registros Duplicados

Ahora, para cada uno de los datasets se identificará el número de registros que tienen llaves diferentes (es decir, registros donde el mes de su respectiva fecha haya sido modificado).

In [ ]:
print(f"Cantidad de registros con llaves diferentes en income: {(df_income['Key_1'] != df_income['Key_2']).sum()}")
print(f"Cantidad de registros en el dataset income: {df_income.shape[0]}")

Cantidad de registros con llaves diferentes en income: 5702
Cantidad de registros en el dataset income: 37072

In [ ]:
print(f"Cantidad de registros con llaves diferentes en balance: {(df_balance['Key_1'] != df_balance['Key_2']).sum()}")
print(f"Cantidad de registros en el dataset balance: {df_balance.shape[0]}")

Cantidad de registros con llaves diferentes en balance: 6450
Cantidad de registros en el dataset balance: 36401

In [ ]:
print(f"Cantidad de registros con llaves diferentes en cashflow: {(df_cashflow['Key_1'] != df_cashflow['Key_2']).sum()}")
print(f"Cantidad de registros en el dataset cashflow: {df_cashflow.shape[0]}")

Cantidad de registros con llaves diferentes en cashflow: 5836
Cantidad de registros en el dataset cashflow: 37579

Más allá de la diferencia entre las llaves creadas para cada registro es necesario mirar la cantidad de llaves duplicadas, ya que esto repercute directamente en los registros a seleccionar para la creación del dataset final.

In [ ]:
print("Porcentaje de llaves primrias (key_1) repetidas en el dataset income:")
print(f"{round(sum(df_income['Key_1'].duplicated()) / df_income.shape[0] * 100, 2)}%")

Porcentaje de llaves primrias (key_1) repetidas en el dataset income:
0.0%

In [ ]:
print("Porcentaje de llaves primrias (key_1) repetidas en el dataset balance:")
print(f"{round(sum(df_balance['Key_1'].duplicated()) / df_balance.shape[0] * 100, 2)}%")

Porcentaje de llaves primrias (key_1) repetidas en el dataset balance:
0.0%

In [ ]:
print("Porcentaje de llaves primrias (key_1) repetidas en el dataset cashflow:")
print(f"{round(sum(df_cashflow['Key_1'].duplicated()) / df_cashflow.shape[0] * 100, 2)}%")

Porcentaje de llaves primrias (key_1) repetidas en el dataset cashflow:
0.0%

In [ ]:
print("Porcentaje de llaves primrias (key_2) repetidas en el dataset income:")
print(f"{round(sum(df_income['Key_2'].duplicated()) / df_income.shape[0] * 100, 2)}%")

Porcentaje de llaves primrias (key_2) repetidas en el dataset income:
1.02%

In [ ]:
print("Porcentaje de llaves primrias (key_2) repetidas en el dataset balance:")
print(f"{round(sum(df_balance['Key_2'].duplicated()) / df_balance.shape[0] * 100, 2)}%")

Porcentaje de llaves primrias (key_2) repetidas en el dataset balance:
1.29%

In [ ]:
print("Porcentaje de llaves primrias (key_2) repetidas en el dataset cashflow:")
print(f"{round(sum(df_cashflow['Key_2'].duplicated()) / df_cashflow.shape[0] * 100, 2)}%")

Porcentaje de llaves primrias (key_2) repetidas en el dataset cashflow:
1.03%

Para los tres datasets, menos del 2% del total de registro cuenta con llaves repetidas (llaves que se crearon a partir de la transformación del mes). Para intentar conservar la mayor cantidad de información posible, primero se visualizará un ejemplo de dos registros con la misma llave primaria (`Key_2`) repetida en el dataset income.

In [ ]:
# Visualización de las llaves repetidas (key_2) en el dataset income

df_income.loc[df_income['Key_2'].duplicated()].head()

,Date,Net Income,Shares Outstanding (Basic),Dividend Per Share,EBIT,EBITDA,Revenue,Accion,Key_1,Key_2
141,2022-10-08,110.982,60.053,1.5,159.457,225.99,2641.341,AAP,AAP2022-10,AAP2022-12
153,2019-10-05,123.669,70.381,0.06,169.183,225.491,2312.106,AAP,AAP2019-10,AAP2019-12
157,2018-10-06,115.843,73.888,0.06,159.996,215.336,2274.982,AAP,AAP2018-10,AAP2018-12
161,2017-10-07,95.996,73.866,0.06,157.314,214.867,2182.233,AAP,AAP2017-10,AAP2017-12
165,2016-10-08,113.844,73.638,0.06,191.419,251.416,2248.855,AAP,AAP2016-10,AAP2016-12

In [ ]:
# Visualización de dos registros con la misma llave primaria (Key_2) en el dataset income

df_income.loc[df_income['Key_2'] == "AAP2022-12"]

,Date,Net Income,Shares Outstanding (Basic),Dividend Per Share,EBIT,EBITDA,Revenue,Accion,Key_1,Key_2
140,2022-12-31,106.696,59.436,1.5,143.32,211.896,2473.745,AAP,AAP2022-12,AAP2022-12
141,2022-10-08,110.982,60.053,1.5,159.457,225.99,2641.341,AAP,AAP2022-10,AAP2022-12

Como se comentó anteriormente, el cambio de del mes de 10 a 12 produjo una llave primaria repetida, en este caso la llave `AAP2022-12` de la columna `Key_2`. En la siguiente celda se presentará los cinco primeros registros con llaves repetidas en el dataset income.

In [ ]:
# Registros con llaves Key_2 repetidas del dataset income

acciones_llaves_duplicadas_income = df_income.loc[df_income['Key_2'].duplicated(), "Key_2"].values

df_income.loc[df_income['Key_2'].isin(acciones_llaves_duplicadas_income)].head(10)

,Date,Net Income,Shares Outstanding (Basic),Dividend Per Share,EBIT,EBITDA,Revenue,Accion,Key_1,Key_2
140,2022-12-31,106.696,59.436,1.5,143.32,211.896,2473.745,AAP,AAP2022-12,AAP2022-12
141,2022-10-08,110.982,60.053,1.5,159.457,225.99,2641.341,AAP,AAP2022-10,AAP2022-12
152,2019-12-28,95.907,69.423,0.06,127.875,186.681,2112.614,AAP,AAP2019-12,AAP2019-12
153,2019-10-05,123.669,70.381,0.06,169.183,225.491,2312.106,AAP,AAP2019-10,AAP2019-12
156,2018-12-29,53.442,72.99,0.06,82.832,137.432,2105.072,AAP,AAP2018-12,AAP2018-12
157,2018-10-06,115.843,73.888,0.06,159.996,215.336,2274.982,AAP,AAP2018-10,AAP2018-12
160,2017-12-30,184.5,73.903,0.06,87.273,143.78,2036.986,AAP,AAP2017-12,AAP2017-12
161,2017-10-07,95.996,73.866,0.06,157.314,214.867,2182.233,AAP,AAP2017-10,AAP2017-12
164,2016-12-31,62.365,73.676,0.06,110.276,169.401,2082.891,AAP,AAP2016-12,AAP2016-12
165,2016-10-08,113.844,73.638,0.06,191.419,251.416,2248.855,AAP,AAP2016-10,AAP2016-12

La selección de los registros que tienen llaves repetidas a conservar se realizará a partir de la selección de aquellos registros que originalmente el mes ya era uno de los meses de cierre de trimestre (3: marzo, 6: junio, 9: septiembre, 12: diciembre).

En la siguiente celda se creará un dataframe temporal que contenga todos los registros repetidos, posteriormente se seleccionarán los índices de los registros duplicados, que suelen ser la segunda aparición del mismo valor en la columna de interés. Y finalmente se comprobará que los registros conservados son aquellos con meses de cierre de trimestre. Este proceso se realizará para los tres datasets.

In [ ]:
df_income_repetidos = df_income.loc[df_income['Key_2'].isin(acciones_llaves_duplicadas_income)]

# Lista de índices a eliminar de dataset df_income

indices_repetidos_income = df_income_repetidos[df_income_repetidos['Key_2'].duplicated()].index

# Verificación que las fechas de los registros a conservar tengan los meses 3, 6, 9 o 12

df_income_repetidos[~df_income_repetidos.index.isin(indices_repetidos_income)].Date.apply(lambda x: x.month).isin([3,6,9,12]).sum() == df_income_repetidos.shape[0] / 2

True

In [ ]:
# Registros con llaves Key_2 repetidas del dataset balance

acciones_llaves_duplicadas_balance = df_balance.loc[df_balance['Key_2'].duplicated(), "Key_2"].values

df_balance_repetidos = df_balance.loc[df_balance['Key_2'].isin(acciones_llaves_duplicadas_balance)]

# Lista de índices a eliminar de dataset df_balance

indices_repetidos_balance = df_balance_repetidos[df_balance_repetidos['Key_2'].duplicated()].index

# Verificación que las fechas de los registros a conservar tengan los meses 3, 6, 9 o 12

df_balance_repetidos[~df_balance_repetidos.index.isin(indices_repetidos_balance)].Date.apply(lambda x: x.month).isin([3,6,9,12]).sum() == df_balance_repetidos.shape[0] / 2

True

In [ ]:
# Registros con llaves Key_2 repetidas del dataset cashflow

acciones_llaves_duplicadas_cashflow = df_cashflow.loc[df_cashflow['Key_2'].duplicated(), "Key_2"].values

df_cashflow_repetidos = df_cashflow.loc[df_cashflow['Key_2'].isin(acciones_llaves_duplicadas_cashflow)]

# Lista de índices a eliminar de dataset df_cashflow

indices_repetidos_cashflow = df_cashflow_repetidos[df_cashflow_repetidos['Key_2'].duplicated()].index

# Verificación que las fechas de los registros a conservar tengan los meses 3, 6, 9 o 12

df_cashflow_repetidos[~df_cashflow_repetidos.index.isin(indices_repetidos_cashflow)].Date.apply(lambda x: x.month).isin([3,6,9,12]).sum() == df_cashflow_repetidos.shape[0] / 2

True

El resultado `True` de las tres celdas anteriores verifica que efectivamente se han eliminado los registros cuyo mes no corresponde a  ningún mes de cierre de trimestre.

A continuación se verificará que la suma de registros eliminados y registros conservados sea igual a la cantidad de registros originalmente en cada dataset.

In [ ]:
# Dataset income sin los registros con llaves Key_2 repetidas

df_income.loc[~df_income.index.isin(indices_repetidos_income)].shape[0] + len(indices_repetidos_income) == df_income.shape[0]

True

In [ ]:
# Dataset balance sin los registros con llaves Key_2 repetidas

df_balance.loc[~df_balance.index.isin(indices_repetidos_balance)].shape[0] + len(indices_repetidos_balance) == df_balance.shape[0]

True

In [ ]:
# Dataset cashflow sin los registros con llaves Key_2 repetidas

df_cashflow.loc[~df_cashflow.index.isin(indices_repetidos_cashflow)].shape[0] + len(indices_repetidos_cashflow) == df_cashflow.shape[0]

True

Una vez se han seleccionados los índices de los registros a conservar, se filtrarán los tres dataset iniciales para tener una única llave priamria que contenta el símbolo de la acción, el año y el mes de cierre de trimestre con la cual posteriormente realizar los joins necesarios para la creación de dataset final. Adicionalmente, la columna `Key_1` será eliminada ya que su objetivo era dar visibilidad sobre la cantidad de cambios efectuados por la función `quarter` definida previamente.

In [ ]:
# Filtrado de los dataset sin llaves Key_2 repetidas

df_income = df_income.loc[~df_income.index.isin(indices_repetidos_income)]
df_balance = df_balance.loc[~df_balance.index.isin(indices_repetidos_balance)]
df_cashflow = df_cashflow.loc[~df_cashflow.index.isin(indices_repetidos_cashflow)]

In [ ]:
# Eliminación de la columna Key_1 para los dataset income, balance y cashflow

df_income.drop(columns=['Key_1'], inplace=True)
df_balance.drop(columns=['Key_1'], inplace=True)
df_cashflow.drop(columns=['Key_1'], inplace=True)

Finalmente se imprimiran las columnas presentes en los tres datasets trabajados hasta el momento.

In [ ]:
# Columnas del dataset income

df_income.columns

Index(['Date', 'Net Income', 'Shares Outstanding (Basic)',
       'Dividend Per Share', 'EBIT', 'EBITDA', 'Revenue', 'Accion', 'Key_2'],
      dtype='object')

In [ ]:
# Columnas del dataset balance

df_balance.columns

Index(['Date', 'Cash & Cash Equivalents', 'Total Assets', 'Total Liabilities',
       'Shareholders' Equity', 'Total Long-Term Liabilities',
       'Total Current Liabilities', 'Long-Term Debt', 'Current Debt', 'Accion',
       'Key_2'],
      dtype='object')

In [ ]:
# Columnas del dataset cashflow

df_cashflow.columns

Index(['Date', 'Net Cash Flow', 'Free Cash Flow', 'Dividends Paid', 'Accion',
       'Key_2'],
      dtype='object')

## Creación del dataset final
---
Una vez se han preparados los dataset de income, balance y cashflow, se puede crear el dataset final que contenga todas columnas particulares de cada dataset para poder crear los KPI necesarios en la clusterización de empresas.

### Unión de Datasets

Para la creación del dataset final se concatenarán los dataset de income, balance y cashflow a partir de sus llaves primarias creadas anteriormente (`Key_2`). El dataset final se creará con un outer join para conservar toda la información de los 3 dataset, y la columna base para realizar el join es `Key_2`.

In [ ]:
# Creación del dataset final

df_final = pd.merge(df_income, df_balance, on="Key_2", how="outer")
df_final.head()

,Date_x,Net Income,Shares Outstanding (Basic),Dividend Per Share,EBIT,EBITDA,Revenue,Accion_x,Key_2,Date_y,Cash & Cash Equivalents,Total Assets,Total Liabilities,Shareholders' Equity,Total Long-Term Liabilities,Total Current Liabilities,Long-Term Debt,Current Debt,Accion_y
0,2023-01-31,352,296,0.225,435,502,1756,A,A2023-3,2023-01-31,1250.0,10919.0,5310.0,5609.0,3374.0,1936.0,2733.0,238.0,A
1,2022-10-31,368,296,0.21,478,551,1849,A,A2022-12,2022-10-31,1053.0,10532.0,5227.0,5305.0,3366.0,1861.0,2733.0,36.0,A
2,2022-07-31,329,298,0.21,416,496,1718,A,A2022-9,2022-07-31,1077.0,10484.0,5393.0,5091.0,3491.0,1902.0,2732.0,180.0,A
3,2022-04-30,274,299,0.21,354,436,1607,A,A2022-6,2022-04-30,1207.0,10455.0,5333.0,5122.0,3520.0,1813.0,2730.0,175.0,A
4,2022-01-31,283,301,0.21,340,422,1674,A,A2022-3,2022-01-31,1158.0,10327.0,5173.0,5154.0,3589.0,1584.0,2730.0,0.0,A

In [ ]:
# Columnas del dataset final

df_final.columns

Index(['Date_x', 'Net Income', 'Shares Outstanding (Basic)',
       'Dividend Per Share', 'EBIT', 'EBITDA', 'Revenue', 'Accion_x', 'Key_2',
       'Date_y', 'Cash & Cash Equivalents', 'Total Assets',
       'Total Liabilities', 'Shareholders' Equity',
       'Total Long-Term Liabilities', 'Total Current Liabilities',
       'Long-Term Debt', 'Current Debt', 'Accion_y'],
      dtype='object')

Cuando dos dataframes se unen mediante un merge, pandas automáticamente asigna un sufijo para identificar columnas con mismo nombre de los dos dataframe involucrados en el join. Es por eso que al momento de imprimir el nombre de las columnas del dataframe final se observan columnas con sufijo `_x` y `_y`. Estos sufijos será de utilidad al momento de renombrar la columnas una vez el dataset esté completo.

Ahora es necesario agregar el tercer dataset, una vez más con un outer join.

In [ ]:
# Unión de los tres dataset

df_final = df_final.merge(df_cashflow, on="Key_2", how="outer")
df_final.head()

,Date_x,Net Income,Shares Outstanding (Basic),Dividend Per Share,EBIT,EBITDA,Revenue,Accion_x,Key_2,Date_y,...,Total Long-Term Liabilities,Total Current Liabilities,Long-Term Debt,Current Debt,Accion_y,Date,Net Cash Flow,Free Cash Flow,Dividends Paid,Accion
0,2023-01-31,352,296,0.225,435,502,1756,A,A2023-3,2023-01-31,...,3374.0,1936.0,2733.0,238.0,A,2023-01-31,197.0,220.0,-67.0,A
1,2022-10-31,368,296,0.21,478,551,1849,A,A2022-12,2022-10-31,...,3366.0,1861.0,2733.0,36.0,A,2022-10-31,-17.0,378.0,-62.0,A
2,2022-07-31,329,298,0.21,416,496,1718,A,A2022-9,2022-07-31,...,3491.0,1902.0,2732.0,180.0,A,2022-07-31,-115.0,244.0,-62.0,A
3,2022-04-30,274,299,0.21,354,436,1607,A,A2022-6,2022-04-30,...,3520.0,1813.0,2730.0,175.0,A,2022-04-30,72.0,219.0,-63.0,A
4,2022-01-31,283,301,0.21,340,422,1674,A,A2022-3,2022-01-31,...,3589.0,1584.0,2730.0,0.0,A,2022-01-31,-374.0,180.0,-63.0,A

In [ ]:
# Columnas del dataset final

df_final.columns

Index(['Date_x', 'Net Income', 'Shares Outstanding (Basic)',
       'Dividend Per Share', 'EBIT', 'EBITDA', 'Revenue', 'Accion_x', 'Key_2',
       'Date_y', 'Cash & Cash Equivalents', 'Total Assets',
       'Total Liabilities', 'Shareholders' Equity',
       'Total Long-Term Liabilities', 'Total Current Liabilities',
       'Long-Term Debt', 'Current Debt', 'Accion_y', 'Date', 'Net Cash Flow',
       'Free Cash Flow', 'Dividends Paid', 'Accion'],
      dtype='object')

In [ ]:
# Resumen del dataset final

df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42961 entries, 0 to 42960
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date_x                       36694 non-null  object
 1   Net Income                   36442 non-null  object
 2   Shares Outstanding (Basic)   36418 non-null  object
 3   Dividend Per Share           36694 non-null  object
 4   EBIT                         36442 non-null  object
 5   EBITDA                       36319 non-null  object
 6   Revenue                      36445 non-null  object
 7   Accion_x                     36694 non-null  object
 8   Key_2                        42961 non-null  object
 9   Date_y                       35931 non-null  object
 10  Cash & Cash Equivalents      35931 non-null  float64
 11  Total Assets                 34977 non-null  float64
 12  Total Liabilities            34961 non-null  float64
 13  Shareholders' Equity         34963 non-null  float64
 14  Total Long-Term Liabilities  34314 non-null  float64
 15  Total Current Liabilities    34328 non-null  float64
 16  Long-Term Debt               34338 non-null  float64
 17  Current Debt                 34454 non-null  float64
 18  Accion_y                     35931 non-null  object
 19  Date                         37191 non-null  object
 20  Net Cash Flow                37054 non-null  float64
 21  Free Cash Flow               37052 non-null  float64
 22  Dividends Paid               37054 non-null  float64
 23  Accion                       37191 non-null  object
dtypes: float64(11), object(13)
memory usage: 8.2+ MB

En la creación del dataframe final se observa que, como era de esperarse, la única variable que no tieve valores nulos es `Key_2`, las demás variables tienen valores faltantes. Si bien es necesario realizar un tratamiento de datos y valores faltantes antes de hacer clusterización, primero debe unificarse las columnas `Dates` y `Accion` ya que estas dos columnas, junto con `Key_2` deben tener obligatoriamente todos sus registros.

In [ ]:
# Cambio de nombre para unificación de las columnas Date y Accion

df_final.rename(columns={"Date": "Date_z"}, inplace=True)
df_final.rename(columns={"Accion": "Accion_z"}, inplace=True)

Se ha nombrado estas dos columnas con el sufijo `_z` porque a partir de las columnas con sufijos `_x`, `_y` y `_z` se creará una columna única a partir de la información de estas tres columnas, esto aplica para Date y Accion:

In [ ]:
# Creación columnas Date y Accion

df_final['Date'] = df_final['Date_x'].fillna(df_final['Date_y'].fillna(df_final['Date_z']))
df_final['Accion'] = df_final['Accion_x'].fillna(df_final['Accion_y'].fillna(df_final['Accion_z']))

print(f"Valores nulos en la columna Date: {df_final['Date'].isna().sum()}")
print(f"Valores nulos en la columna Accion: {df_final['Accion'].isna().sum()}")

Valores nulos en la columna Date: 0
Valores nulos en la columna Accion: 0

Ya no hay valores nulos en las columnas `Date` y `Accion`.

Ahora se pueden eliminar las columnas temporales creadas, las cuales son aquellas con sufijos. También se creará una columna adicional llamada `Month`, esta nos servirá para ejecutar diferentes análisis que se detallarán más adelante.

In [ ]:
# Eliminar columnas temporales, creación de la columna month

df_final.drop(columns=['Date_x', 'Date_y', 'Date_z', 'Accion_x', 'Accion_y', 'Accion_z'], inplace=True)
df_final['Date'] = pd.to_datetime(df_final['Date']).dt.date
df_final['Month'] = df_final['Date'].apply(lambda x: x.month)

df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42961 entries, 0 to 42960
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Net Income                   36442 non-null  object
 1   Shares Outstanding (Basic)   36418 non-null  object
 2   Dividend Per Share           36694 non-null  object
 3   EBIT                         36442 non-null  object
 4   EBITDA                       36319 non-null  object
 5   Revenue                      36445 non-null  object
 6   Key_2                        42961 non-null  object
 7   Cash & Cash Equivalents      35931 non-null  float64
 8   Total Assets                 34977 non-null  float64
 9   Total Liabilities            34961 non-null  float64
 10  Shareholders' Equity         34963 non-null  float64
 11  Total Long-Term Liabilities  34314 non-null  float64
 12  Total Current Liabilities    34328 non-null  float64
 13  Long-Term Debt               34338 non-null  float64
 14  Current Debt                 34454 non-null  float64
 15  Net Cash Flow                37054 non-null  float64
 16  Free Cash Flow               37052 non-null  float64
 17  Dividends Paid               37054 non-null  float64
 18  Date                         42961 non-null  object
 19  Accion                       42961 non-null  object
 20  Month                        42961 non-null  int64
dtypes: float64(11), int64(1), object(9)
memory usage: 7.2+ MB

### Transformación de Tipo (`dtype`)

Una vez se tiene el dataset final con la información de los tres dataset iniciales (income, balance y cashflow) es necesario realizar la transformación de `dtype` para las columnas que lo requieran. Viendo el resumen del dataset final se puede observar que las columnas que requieren transformación de dtype son:
- Net income.
- Share Outstanding (Basic).
- Dividend Per Share.
- EBIT.
- EBITDA.
- Revenue.

In [ ]:
# Transformación de dtype

df_final['Net Income'] = df_final['Net Income'].astype('float')
df_final['Shares Outstanding (Basic)'] = df_final['Shares Outstanding (Basic)'].astype('float')
df_final['Dividend Per Share'] = df_final['Dividend Per Share'].astype('float')
df_final['EBIT'] = df_final['EBIT'].astype('float')
df_final['EBITDA'] = df_final['EBIT'].astype('float')
df_final['Revenue'] = df_final['EBIT'].astype('float')

In [ ]:
# Celda a ejecutar en dado caso que se quiera exportar el dataframe creado

df_final.to_csv("df_final.csv", index=False)

## Creación de Dataset de KPI
---

Dado que para realizar una evaluación de las empresas necesitamos valores relativos (índices) se creará un dataset que no contenga ningún valor absoluto. Esto con el fin de tener un mejor punto de partida y no caer en el error de comparar empresas de diferentes tamaños sin tener en cuenta los valores relativos.

In [ ]:
# Creación del dataframe de KPI

df_kpi = df_final.copy()

In [ ]:
# Columnas del dataframe de KPI

df_kpi.columns

Index(['Net Income', 'Shares Outstanding (Basic)', 'Dividend Per Share',
       'EBIT', 'EBITDA', 'Revenue', 'Key_2', 'Cash & Cash Equivalents',
       'Total Assets', 'Total Liabilities', 'Shareholders' Equity',
       'Total Long-Term Liabilities', 'Total Current Liabilities',
       'Long-Term Debt', 'Current Debt', 'Net Cash Flow', 'Free Cash Flow',
       'Dividends Paid', 'Date', 'Accion', 'Month'],
      dtype='object')

### Definición de las Columnas de KPI

A continuación, se definen los índices (Key Performance Indicators) para el dataset de KPI y se eliminarán el resto de columnas.

In [ ]:
# Definición de columnas para calcular variables relativas

df_kpi['Earnings per Share'] = (df_kpi['Net Income'] - df_kpi['Dividends Paid']) / df_kpi['Shares Outstanding (Basic)']
df_kpi['Total Liabilities / Total Assets'] = df_kpi['Total Liabilities'] / df_kpi['Total Assets']
df_kpi['Long Term Liabilities / Total Assets'] = df_kpi['Total Long-Term Liabilities'] / df_kpi['Total Assets']
df_kpi['ROIC'] = df_kpi['EBIT'] / ((df_kpi['Long-Term Debt'] + df_kpi['Current Debt']) + df_kpi['Shareholders\' Equity'] - df_kpi['Cash & Cash Equivalents'])
df_kpi['Total Current Liabilities / Total Liabilities'] = df_kpi['Total Current Liabilities'] / df_kpi['Total Liabilities']
df_kpi['ROE'] = df_kpi['Net Income'] / df_kpi['Shareholders\' Equity']

df_kpi.columns

Index(['Net Income', 'Shares Outstanding (Basic)', 'Dividend Per Share',
       'EBIT', 'EBITDA', 'Revenue', 'Key_2', 'Cash & Cash Equivalents',
       'Total Assets', 'Total Liabilities', 'Shareholders' Equity',
       'Total Long-Term Liabilities', 'Total Current Liabilities',
       'Long-Term Debt', 'Current Debt', 'Net Cash Flow', 'Free Cash Flow',
       'Dividends Paid', 'Date', 'Accion', 'Month', 'Earnings per Share',
       'Total Liabilities / Total Assets',
       'Long Term Liabilities / Total Assets', 'ROIC',
       'Total Current Liabilities / Total Liabilities', 'ROE'],
      dtype='object')

In [ ]:
# Lista de los kpi necesarios

kpi_list = ['Date',
            'Month',
            'Accion',
            'Earnings per Share',
            'Total Liabilities / Total Assets',
            'Long Term Liabilities / Total Assets',
            'ROIC',
            'Total Current Liabilities / Total Liabilities',
            'ROE']

In [ ]:
# Selección de las columnas necesarias

df_kpi = df_kpi[kpi_list]

df_kpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42961 entries, 0 to 42960
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date                                           42961 non-null  object
 1   Month                                          42961 non-null  int64
 2   Accion                                         42961 non-null  object
 3   Earnings per Share                             35320 non-null  float64
 4   Total Liabilities / Total Assets               34956 non-null  float64
 5   Long Term Liabilities / Total Assets           34309 non-null  float64
 6   ROIC                                           28421 non-null  float64
 7   Total Current Liabilities / Total Liabilities  34311 non-null  float64
 8   ROE                                            28976 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 3.3+ MB

### Manejo de Valores Nulos

Inicialmente no se pretende realizar imputación de valores nulos, ya que la imputación de estos valores puede generar información sesgada que perjudice que toma de decisiones. Por esto se eliminarán los registros que tengan valores nulos.

In [ ]:
df_kpi.dropna(inplace=True)

In [ ]:
df_kpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27812 entries, 0 to 36689
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date                                           27812 non-null  object
 1   Month                                          27812 non-null  int64
 2   Accion                                         27812 non-null  object
 3   Earnings per Share                             27812 non-null  float64
 4   Total Liabilities / Total Assets               27812 non-null  float64
 5   Long Term Liabilities / Total Assets           27812 non-null  float64
 6   ROIC                                           27812 non-null  float64
 7   Total Current Liabilities / Total Liabilities  27812 non-null  float64
 8   ROE                                            27812 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 2.1+ MB

In [ ]:
# Visualización de los 20 primeros registros del dataset de kpi

df_kpi.head(20)

,Date,Month,Accion,Earnings per Share,Total Liabilities / Total Assets,Long Term Liabilities / Total Assets,ROIC,Total Current Liabilities / Total Liabilities,ROE
0,2023-01-31,1,A,1.415541,0.486308,0.309003,0.059345,0.364595,0.062756
1,2022-10-31,10,A,1.452703,0.496297,0.319597,0.068081,0.356036,0.069369
2,2022-07-31,7,A,1.312081,0.514403,0.332984,0.060064,0.352679,0.064624
3,2022-04-30,4,A,1.127090,0.510091,0.336681,0.051906,0.339959,0.053495
4,2022-01-31,1,A,1.149502,0.500920,0.347536,0.050550,0.306205,0.054909
5,2021-10-31,10,A,1.664452,0.496590,0.337039,0.071680,0.321294,0.082019
6,2021-07-31,7,A,1.066007,0.528548,0.364217,0.054580,0.310911,0.053376
7,2021-04-30,4,A,0.904605,0.537411,0.368340,0.046055,0.314603,0.044906
8,2021-01-31,1,A,1.133987,0.503411,0.329026,0.055407,0.346407,0.059950
9,2020-10-31,10,A,0.896440,0.493819,0.341436,0.052150,0.308582,0.045557
10,2020-07-31,7,A,0.825243,0.478211,0.340561,0.040027,0.287842,0.039952
11,2020-04-30,4,A,0.504854,0.495717,0.290005,0.023769,0.414978,0.021183
12,2020-01-31,1,A,0.816129,0.489738,0.290601,0.039283,0.406619,0.040635
13,2019-10-31,10,A,0.795455,0.497672,0.277613,0.043651,0.442177,0.040859
14,2019-07-31,7,A,0.775641,0.449623,0.261565,0.050209,0.418257,0.040236
15,2019-04-30,4,A,0.738170,0.431944,0.308025,0.049287,0.286887,0.035512
16,2019-01-31,1,A,1.748428,0.437444,0.315125,0.055683,0.279622,0.100079
17,2018-10-31,10,A,0.761006,0.464817,0.327713,0.063608,0.294962,0.042698
18,2018-07-31,7,A,0.887500,0.452869,0.331417,0.061437,0.268183,0.051709
19,2018-04-30,4,A,0.785714,0.474385,0.318989,0.066182,0.327574,0.044440

Una vez creado el dataset final de KPI se crea una celda adicional para poder exportar este dataframe como un archivo csv.

In [ ]:
# Exportar archivo csv de datos final

df_kpi.to_csv("df_kpi.csv", index=False)